<!DOCTYPE html>
<html>
<head>
  <title>ToDoChore</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/components/grid.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/components/card.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <style>
  .toggle {

  }
  </style>
</head>
<body>
<% if session[:roommate_id] %>
<h1>My Chores</h1>



  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="ui centered grid">
       <div class="margin-right">
        <div>
          <%=link_to("My Chores", roommate_path(session[:roommate_id]), :class => "button button-primary") %>
          <%=link_to("Log Out", "/sessions", :class => "button button-primary", method: :delete) %>
        </div>
      </div> 
    </div>
  </nav>
    <ul id="chore-list" class="card">
    </ul>
    <script type="text/template" id="my-chores">
    <li>TaskName: <%%= task_name %> </li>
    <li>Completed: <%%= completed %> </li>
    <li>Assignee: <%%= assignee %> </li>
    <button data-action='destroy'>
        Delete
    </button>
    <button data-action="edit">
        Edit
    </button>    
    </script>



    <script type="text/template" id="new-chore">

    </script>

    <script type="text/template" id="edit-form" class="toggle">
    <BR><BR>
    Task Name:
    <input type="text" id="task_name">
    Assignee:
    <input type="text" id="assignee">
    <button class="update">Update Chore</button>
    </script>

    <div id="new-form-div">
    </div>
    <BR><BR>
    <form id="entry-form">
    Add a Chore!
    Task Name:
    <input type="text" id="task_name" name="task_name">
    Assignee:
    <input type="text" id="assignee" name="assignee" value="<%=@roommate.first_name%>">
    <input type="hidden" id="roommate_id" name="roommate_id" value="<%=@roommate.id%>">
    <button id="add-button"> Add Chore </button>



  <% end %>



<script type="text/template" id="other-chores">

</script>



<%= yield %>

</body>
</html>
