<!DOCTYPE html>
<html>
<head>
  <title>ToDoChore</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/components/grid.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/components/card.css">
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

  <style>
  .card{
    padding: 4px;
    margin: 2px;
    font: black;
  }
  .weather{
    text-align: left;
  }
  li{
    color: black;
  }
  h1{
    text-align: center;
  }

  #chores{
    background: url("http://orig11.deviantart.net/c6f5/f/2009/194/f/6/hi_res_lined_paper_texture_by_merileekitty.jpg");
    opacity: .6;
  }

  .splash-container {
    z-index: 1;
    overflow-x: scroll;
    width: -webkit-fit-content;
    overflow-y: scroll;
    width: 105%;
    height: 45%;
    top: 2em;
    left: 0;
    position: relative !important;
    z-index: 1;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 80%;
}
  </style>
</head>



<body>
<% if session[:roommate_id] && @roommate %>

    <div class="ui centered grid">
       <div class="margin-right">
        

        <div class="splash-container">
          <section class='pure-menu-horizontal'>
            

          <%=link_to("My Chores", roommate_path(session[:roommate_id]), :class => "button button-primary") %>
          <%=link_to("Log Out", "/sessions", :class => "button button-primary", method: :delete) %>
            
          </section>
          </div>
        </div>
      </div> 
    </div><BR><BR>

    <h1>Welcome <%=@roommate.first_name%></h1>

    <div class="weather">
    <img src="<%=@iconURL%>">  <img src="<%=@night_icon%>">
    <h5>The time and day is <%=@full_time_month%></h5>
    <p> Today's Forecast is <%=@morning_forecast%><BR><BR> For tonight   <%=@night_forecast%> </p>
    </div>
        

        <div class="ui segment">

        <section id="chores" class="ui eight cards">


    <BR>
    <div id="chore-list">
    </div>
    <script type="text/template" id="my-chores">

    <div class="card">
    <li>TaskName: <%%= task_name %> </li>
    <li>Completed: <%%= completed %> </li>
    <li>Assignee: <%%= assignee %> </li>

    <div class="">
    <button data-action='destroy'>
        Complete This Task
    </button>
    </div>

    <div class="">
    <button data-action="edit">
        Edit
    </button>    
    </div>
    </script>

    <script type="text/template" id="new-chore">

    </script>

    <script type="text/template" id="edit-form" class="toggle">
    <BR><BR>
    Task Name:
    <input type="text" id="task_name">
    Assignee:
    <input type="text" id="assignee">
    <button class="update">Update Chore</button>
    </script>
    </div>
    </div>


    <div id="new-form-div">
    </div>
    <BR><BR>
    <form id="entry-form">
    Add a Chore!
    Task Name:
    <input type="text" id="task_name" name="task_name">
    Assignee:
    <input type="text" id="assignee" name="assignee" value="<%=@roommate.first_name%>">
    <input type="hidden" id="roommate_id" name="roommate_id" value="<%=@roommate.id%>">
    <button id="add-button"> Add Chore </button>
    </form>


</BR>
</section>

  <% end %>





<%= yield %>

</body>
</html>
